.footer{
    padding:2rem 0 ;
    background-color: $grisOscuro;
    margin-bottom: 0;
    .oie{
        text-align: center;
        color: $blanco;
    }
    .navegacion{
        visibility: visible;
        opacity: 1;
        height: auto;
    }
}

